<!DOCTYPE html>
<html>
	<head>
		<title>eBiz Accounting System</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
	</head>
	<body>
		<h1>eBiz Accounting System</h1>
		<form action="{{ url_for('home') }}">
			<input class="retrn_to_home" type="submit" value="Return to Main Page">
		</form>
		<h2>Input a New Item</h2>
		<form action="{{ url_for('save_new_item') }}" method="POST"
		class="input_new_item">
			<div >
				<label>Name: </label><input name="name"><br>
				<label>Number: </label><input name="num"><br>
				<label>Buy Single Cost: </label><input name="buySingleCost"><br>
				<label>Sell Single Price: </label><input name="sellSinglePrice"><br>
				<label>Other Cost: </label><input name="otherCost"><br>
				<label>Other Profit: </label><input name="otherProfit"><br>
				<label>Buyer: </label><input name="buyer"><br>
				<label>Buy Place: </label><input name="buyPlace"><br>
				<label>Pay Cards: </label><input name="payCards"><br>
			</div>
			<input class="submit_button" type="submit" value="Add ! " class="add_button">
		</form>
	</body>
</html>