<!DOCTYPE html>
<html>
	<head>
		<title>Index | eBiz Accounting System</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/ebizSys.js"></script>
	</head>
	<body>
		<h1>eBiz Accounting System</h1>
		<div id="show_deleted_items">
			<table border="1" id = "all_deleted_items_table">
				<caption>All Deleted Items</caption>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Date</th>
					<th>Name</th>
					<th>Num</th>
					<th>buySingleCost</th>
					<th>buyTotalCost</th>
					<th>receivedNum</th>
					<th>sellSinglePrice</th>
					<th>sellTotalPrice</th>
					<th>receivedMoney</th>
					<th>otherCost</th>
					<th>basicProfit</th>
					<th>otherProfit</th>
					<th>totalProfit</th>
					<th>buyer</th>
					<th>buyPlace</th>
					<th>payCards</th>
					<th>ifDrop</th>
				</tr>
				{% for x in all_items %}
				<tr>
					<td><form action="{{ url_for('recover') }}" method="POST"><button class="recover_item" id="recover-{{ x.uID }}-btn" 
					value="{{ x.uID }}" name="uID">Recover</button></form></td>

					<td>{{ x.uID }}</td>
					<td>{{ x.date.month }}/{{ x.date.day }}/{{ x.date.year }}</td>
					<td>{{ x.name }}</td>
					<td>{{ x.number }}</td>
					<td>{{ x.buySingleCost }}</td>
					<td>{{ x.buyTotalCost }}</td>
					<td>{{ x.receivedNum }}</td>
					<td>{{ x.sellSinglePrice }}</td>
					<td>{{ x.sellTotalPrice }}</td>
					<td style="background-color:red">{{ x.receivedMoney }}</td>
					<td>{{ x.otherCost }}</td>
					<td>{{ x.basicProfit }}</td>
					<td>{{ x.otherProfit }}</td>
					<td>{{ x.totalProfit }}</td>
					<td>{{ x.buyer }}</td>
					<td>{{ x.buyPlace }}</td>
					<td>{{ x.payCards }}</td>
					<td>{{ x.ifDrop }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>