<!DOCTYPE html>
<html>
	<head>
		<title>Index | eBiz Accounting System</title>
		<link rel="stylesheet" type="text/css" href="/static/custom/styles.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/custom/ebizSys.js"></script>

	</head>
	<body class="wide">
{#    flash messages shows here#}
     {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

{#end of flash messages#}

		<h1>eBiz Accounting System</h1>

		<form action="{{url_for('showall')}}" method="get">
			<input type="submit" class="show_all_btn" value="Show All Items">
		</form>
		<form action="{{url_for('show_deleted_item')}}" method="get">
			<input type="submit" class="show_deleted_btn" value="Show Deleted Items">
		</form>
		<div id="select_time_range">
			<form action="{{ url_for('selected_items') }}" method="POST">
				<br><label>Select Date Range:</label><br>
				From: <input type="date" name="start_date" value="{{st_date}}">
				To: <input type="date" name="end_date" value="{{ed_date}}">
				<input class="submit_button" type="submit" value="Submit">
			</form>
		</div>
		<div id="search_by_keyword">
			<form action="{{url_for('search_by_keyword')}}" method="POST">
				<input type="text" name="keyword">
				<input type="submit" value="Search">
			</form>
		</div>

		<div id="show_items">
			<div id="add_item">
				<form action="{{ url_for('add_item') }}">
					<input class="add_button" type='submit' value='Add a New PurchasedItem'>
				</form>
			</div>
			<div>
			<table id = "all_items_table">
				<caption>All Purchased Items</caption>
				<tr>
					<th class="th1"></th>
					<th class="th1"></th>
					<th class="th1">ID</th>
					<th class="th1">Date</th>
					<th class="th2">Name</th>
					<th class="th1">Num</th>
					<th class="th3">buy SingleCost</th>
					<th class="th3">buy TotalCost</th>
					<th>received Num</th>
					<th>sell SinglePrice</th>
					<th>sell TotalPrice</th>
					<th>received Money</th>
					<th>other Cost</th>
					<th>basic Profit</th>
					<th>Other Profit</th>
					<th>Total Profit</th>
					<th>Buyer</th>
					<th>BuyPlace</th>
					<th>PayCards</th>
					<th>ifDrop</th>
                    <th>ItemLocation</th>
                    <th>ifRegister</th>
                    <th>Remark</th>
				</tr>
				{% for x in all_items %}
				<tr>
					<td><form action="{{ url_for('jump_revise_item') }}" method="POST"><button class="revise_item" id="revise-{{ x.uID }}-btn" 
					value="{{ x.uID }}" name="revise">Revise</button></form></td>

					<td><form action="{{ url_for('delete_item') }}" method="POST"
					><button class="delete_item" id="delete-{{ x.uID }}-btn" 
					value="{{ x.uID }} " name="delete">Delete</button></form></td>
					
					<td>{{ x.uID }}</td>
					<td>{{ x.date.month }}/{{ x.date.day }}/{{ x.date.year }}</td>
					<td>{{ x.name }}</td>
					<td>{{ x.number }}</td>
					<td>{{ x.buySingleCost }}</td>
					<td>{{ x.buyTotalCost }}</td>
					<td>{{ x.receivedNum }}</td>
					<td>{{ x.sellSinglePrice }}</td>
					<td>{{ x.sellTotalPrice }}</td>
					<td style="background-color:red">{{ x.receivedMoney }}</td>
					<td>{{ x.otherCost }}</td>
					<td>{{ x.basicProfit }}</td>
					<td>{{ x.otherProfit }}</td>
					<td>{{ x.totalProfit }}</td>
					<td>{{ x.buyer }}</td>
					<td>{{ x.buyPlace }}</td>
					<td>{{ x.payCards }}</td>
					<td>{{ x.ifDrop }}</td>
                    <td>{{ x.itemLocation }}</td>
                    <td>{{ x.ifRegister }}</td>
                    <td>{{ x.remark }}</td>
				</tr>
				{% endfor %}
				<!-- <-summary item-> -->
				<tr>
					<th align="center" colspan=2>Summary</th>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td>{{ sumItem['sumBuyTotalCost'] }}</td>
					<td> </td>
					<td> </td>
					<td>{{ sumItem['sumSellTotalPrice'] }}</td>
					<td style="background-color:red">{{ sumItem['sumReceivedMoney'] }}</td>
                    <td>{{ sumItem['sumOtherCost'] }}</td>
                    <td>{{ sumItem['sumBasicProfit'] }}</td>
                    <td>{{ sumItem['sumOtherProfit'] }}</td>
                    <td>{{ sumItem['sumTotalProfit'] }}</td>
                    <td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>
				</tr>
			</table>
			</div>
		</div>
	</body>
</html>