<!DOCTYPE html>
<html>
	<head>
		<title>eBiz Accounting System</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/ebizSys.js"></script>
	</head>
	<body>
		<h1>eBiz Accounting System</h1>
		<form action="{{ url_for('home') }}">
			<input class="retrn_to_home" type="submit" value="Return to Main Page">
		</form>
		<h2>Revise an Item</h2>
		<form action="{{ url_for('save_revise_item') }}" method="POST"
		class="save_revise_item">
			<div >
				<label>ID: </label><input name="uID" value="{{ item.uID }}" readonly="True"><br>
				<label>Date: </label><input name="date" value="{{ item.date }}"><br>
				<label>Name: </label><input name="name" value="{{ item.name }}"><br>
				<label>Number: </label><input name="num" value="{{ item.number }}"><br>
				<label>Buy Single Cost: </label><input name="buySingleCost" value="{{ item.buySingleCost }}"><br>
				<label>Received Number: </label><input name="receivedNum" value="{{ item.receivedNum }}"><br>
				<label>Sell Signle Price: </label><input name="sellSignlePrice" value="{{ item.sellSignlePrice }}"><br>
				<label>Sell Total Price: </label><input name="sellTotalPrice" value="{{ item.sellTotalPrice }}"><br>
				<label>Received Money: </label><input name="receivedMoney" value="{{ item.receivedMoney }}"><br>
				<label>Other Cost: </label><input name="otherCost" value="{{ item.otherCost }}"><br>
				<label>Other Profit: </label><input name="otherProfit" value="{{ item.otherProfit }}"><br>
				<label>Buyer: </label><input name="buyer" value="{{ item.buyer }}"><br>
				<label>If Drop: </label><input name="ifDrop" value="{{ item.ifDrop }}"><br>
				<label>Buy Place: </label><input name="buyPlace" value="{{ item.buyPlace }}"><br>
				<label>Pay Cards: </label><input name="payCards" value="{{ item.payCards }}"><br>
			</div>
			<input id="revise_submit" type="submit" class="submit_button" value="Submit">
		</form>
	</body>
</html>